<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-auto me-auto mt-1 mb-1 h1" href="/">
      <img src="http://localhost:3000/assets/ruby.png" alt="red ruby" width="30" height="24" class="d-inline-block align-text-top">
      PaowerBall
    </a>
    <a class="navbar-brand ms-auto me-auto mt-1 mb-1 h1" href="/prizes">
      <img src="http://localhost:3000/assets/rubyprize.png" alt="black ruby" width="30" height="24" class="d-inline-block align-text-top">
      Prizes
    </a>
    <a class="navbar-brand ms-auto me-auto mt-1 mb-1 h1" href="/about">
      <img src="http://localhost:3000/assets/person-circle.svg" alt="about icon" width="30" height="24" class="d-inline-block align-text-top">
      About
    </a>
  </div>
</nav>
