<style>
 .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
 }

 .title {
    text-align: center;
    padding: 20px;
 }

 .faces {
    padding: 10px;
    margin-top: 5px;
 }

 .txt {
    color: white;
    text-align: center;
 }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    background-color: DarkRed;
 }

 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    background-color: FireBrick;
 }

 img.rounded-corners {
    border-radius: 15px 50px;
 }

 @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
 }
</style>

<body>
  <div class="title">
   <h1>Team Pao++</h1>
  </div>

  <div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <div class="col">
          <div class="card">
            <div class="faces ms-auto me-auto">
                <%= image_tag("brandon.jpg", width: 200, :class => "rounded-corners") %>
            </div>
            <div class="card-body">
              <p class="card-text txt">Brandon Ardoin</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="faces ms-auto me-auto">
                <%= image_tag("josh.jpg", width: 200, :class => "rounded-corners") %>
            </div>
            <div class="card-body">
              <p class="card-text txt">Joshua Byrd</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="faces ms-auto me-auto">
                <%= image_tag("jacob.jpg", width: 200, :class => "rounded-corners") %>
            </div>
            <div class="card-body">
              <p class="card-text txt">Jacob Bowen</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="faces ms-auto me-auto">
                <%= image_tag("nhat.jpg", width: 200, :class => "rounded-corners") %>
            </div>
            <div class="card-body">
              <p class="card-text txt">Nhat Vu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>